/third-party/boost_1_65_1/*
/third-party/boost_1_67_0/*
/third-party/LeapSDK/*
/build*
/Release/*
/Debug/*
/.vs/*
/openvr/*
/client_overlay/bin/win64/Material
/client_overlay/bin/win64/QtGraphicalEffects
/client_overlay/bin/win64/QtQuick.2
/client_overlay/bin/win64/QtQuick
/client_overlay/bin/win64/Universal
/client_overlay/bin/win64/bearer
/client_overlay/bin/win64/iconengines
/client_overlay/bin/win64/imageformats
/client_overlay/bin/win64/platforms
/client_overlay/bin/win64/private
/client_overlay/bin/win64/qmltooling
/client_overlay/bin/win64/qtdata
/client_overlay/bin/win64/translations
/client_overlay/bin/win64/D3Dcompiler_47.dll
/client_overlay/bin/win64/Qt5Charts.dll
/client_overlay/bin/win64/Qt5Chartsd.dll
/client_overlay/bin/win64/Qt5Core.dll
/client_overlay/bin/win64/Qt5Cored.dll
/client_overlay/bin/win64/Qt5Gui.dll
/client_overlay/bin/win64/Qt5Guid.dll
/client_overlay/bin/win64/Qt5Multimedia.dll
/client_overlay/bin/win64/Qt5MultimediaQuick_p.dll
/client_overlay/bin/win64/Qt5MultimediaQuick_pd.dll
/client_overlay/bin/win64/Qt5Multimediad.dll
/client_overlay/bin/win64/Qt5Network.dll
/client_overlay/bin/win64/Qt5Networkd.dll
/client_overlay/bin/win64/Qt5Qml.dll
/client_overlay/bin/win64/Qt5Qmld.dll
/client_overlay/bin/win64/Qt5Quick.dll
/client_overlay/bin/win64/Qt5QuickControls2.dll
/client_overlay/bin/win64/Qt5QuickControls2d.dll
/client_overlay/bin/win64/Qt5QuickTemplates2.dll
/client_overlay/bin/win64/Qt5QuickTemplates2d.dll
/client_overlay/bin/win64/Qt5Quickd.dll
/client_overlay/bin/win64/Qt5Svg.dll
/client_overlay/bin/win64/Qt5Svgd.dll
/client_overlay/bin/win64/Qt5Widgets.dll
/client_overlay/bin/win64/Qt5Widgetsd.dll
driver_vrwalkinplace/resources/icons/*
*.cache
VRWalkInPlace.VC.VC.opendb
*.db
installer/OpenVR-WalkInPlace.exe
.vs
.vs/*
.vs/VRWalkInPlace
.vs/VRWalkInPlace/*
.vs/VRWalkInPlace/v14/*
.vs/VRWalkInPlace/v15/*
*.obj
*.pdb
*.exe
*.log
*.tlog
*.ipch
*.ipdb
*.exp
*.iobj