/third-party/boost_1_65_1/*
/build*
/Release/*
/Debug/*
/.vs/*
*.cache
VRWalkInPlace.VC.VC.opendb
*.db
installer/OpenVR-WalkInPlace.exe
.vs
.vs/*
.vs/VRWalkInPlace
.vs/VRWalkInPlace/*
.vs/VRWalkInPlace/v14/*
.vs/VRWalkInPlace/v15/*
*.obj
*.pdb
*.exe
*.log
*.tlog
*.ipch